*{
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    padding-top:80px;
    font-size:1.6 rem;
    font-family:"Sora",sans-serif;
    background: linear-gradient(135deg, #fffaf0 0%, #ffe6e6 50%, #e6f3ff 100%);
    background-attachment: fixed;
}
/*==============================common==================================*/
.container{
    width:100%;
    max-width: calc(100% - 48px);
    margin:0 auto;
}
a{
    text-decoration: none;
}
.section_heading{
    color:#dc143c;
    font-size:5rem;
    font-weight:600;
    line-height:1.2;
    letter-spacing:-1px;
    border-bottom:5px solid #ff0;
    font-family:serif;
}
.section_desc{
    margin-top:18px;
    color:#10375c;
    font-size:1.8rem;
    font-weight:300;
    line-height:1.67;
}
/*=============================header==================================*/
.header{
    background:#dc143c;
    min-height:120px;
    padding-top:20px;
    position: fixed;
     top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar_list{
    display:flex;
}
.navbar_link{
    padding:8px 21px;
    color:#c9d2da;
    font-size:1.6rem;
    font-style:normal;
    font-weight:300;
    line-height:1.75;
}
.navbar_link:hover,
.navbar_link--active{
    text-shadow: 1px  0 0 currentColor;
    color:#fff;
}
.navbar_link--active::before{
    content:"";
    display:inline-block;
    width:6px;
    height:6px;
    border-radius:50%;
    background: #fff;
    top:-3px;
    position:relative;
    right: 8px;
}
.logo{
    width:90px;
    height:90px;
}
.logo_images{
    display: flex;
    align-items:center;
}
.text{
    display:flex;
    flex-direction:column;
    color:#fff;
}
.logo_text{
    font-size:5rem;
    font-weight:bold;
}
.logo_text_secondary{
    font-size:2.5rem;
}
/*==============hero===============*/
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    flex-direction:column;
    padding-top:76px;
    background-image:url("../../img/saiGon.png");
    min-height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
    background-attachment:fixed;
    position:relative;
}
.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.6);
    z-index:0
}
.hero .container{
    z-index:1
}
.hero_heading{
    margin-top:150px;
    color:#fff;
    font-size:7rem;
    font_style:normal;
    font-weight:700;
    line-height:1.14;
    letter-spacing:1.4px;
}
.hero_content{
    margin: 5px 0 5px 0;
    padding: 0 10px 0 10px;
    color:#fff;
    font-size:4rem;
    font-weight:700;
    line-height:1.14;
    letter-spacing:2px;
}
.hero_desc{
    color:#fff;
    font-size:2.5rem;
    font_style:normal;
    font-weight:500;
    line-height:1.14;
    letter-spacing:2px;
    margin-top:20px;
}
/*============================location========================*/
.location{
    margin:78px;    
}
.location .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.location_content{
    display:flex;
    flex-direction:column;
    margin-top:-100px;
    padding:0 20px 0 0;
}
.location_img{
    object-fit:contain;
    width:60%;
    height:800px;
    padding:0 10px 0 10px;
}
/*======================featured===============================*/
.featured {
    background:#fff;
    padding:100px 0;
}
.featured .section_heading{
    text-align:center;
}
.featured_list{
    margin-top:45px;
    display:grid;
    grid-template-rows:repeat(4,1fr);
    row-gap:20px;
}
.featured-item{
    border-radius:20px;
    background:#fff;
    border:10px solid #ff0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;

}
.featured-item:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    transform:translate(10px,-16px);
}
.featured-item_heading{
    color:#10375c;
    font-size:2.2rem;
    font-weight:500;
    line-height:1.38;
    margin:10px 0 0 10px;
}
.featured-item_desc{
    color:#10375c;
    font-size:1.6rem;
    font-weight:500;
    line-height:1.38;
    margin:10px 0 0 10px;
}
.featured-item_img{
    height:150px;
    width:300px;
    margin: 5px 10px 5px 10px;
}
.featured-item_img--left{
    order:-1;
}
/*========================place======================*/
.place{
    margin-top:78px;
}
.place .container .section_heading{
    text-align:center;
}
.place .container .section_desc{
    font-size:1.2rem;
    text-align:center;
    margin-bottom:10px;
}
.place_list{
    margin-top:40px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}
.place-item input{
    display:none;
}
.card-layout{
    display: block;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card-layout:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.place-item_img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    transition:0.2s ease;
}
.place-item_text-area{
    text-align:center;
}
.place-item_title{
    margin-top:10px;
    color:#10375c;
    font-size:1.8rem;
    font-weight:700;
    line-height:1.38;
}
.place-item_content{
    max-height:0px;
    overflow:hidden;
    transition:max-height 0.4s ease;
}
.place-item:has(input:checked){
    grid-column:span 3;
    order:-1;
}
.place-item input:checked + .card-layout{
    display:flex;             
    align-items:flex-start;
    gap:20px;
}
.place-item input:checked + .card-layout .place-item_img{
    width:40%;
    height:250px;
    flex-shrink:0;               
}
.place-item input:checked + .card-layout .place-item_text-area{
    width:60%;
    text-align:left;
    padding-top:50px;
}
.place-item input:checked + .card-layout .place-item_content{
    max-height:500px;
    font-size:1.4rem;
    font-weight:400;
    line-height:1.28;
    letter-space:1.12px;
    margin-top:10px;
}
/*=======================different==============*/
.different{
    margin-top:78px;
    padding-top:84px;
    padding-bottom:68px;
    background:#fff;
}
/*==================quote================*/
.quote{
    margin-top:78px;
}
.quote_content{
    background:#fff;
    height:100px;
    border:1px solid #000;
    border-radius:20px;
    text-align:center;
}
.quote_heading{
    margin:15px 10px 0 10px;
    font-size:2rem;
    font-weight:700;
    line-height:1.48;

}
.quote_desc{
    font-size:1.4rem;
    font-weight:300;
    line-height:1.14;
}
/*===========================footer=========================*/
.footer{
    background:#dc143c;
    text-align: center;
    margin-top:48px;
}
.footer_copyright-text {
  padding: 28px 0 20px;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.86;
}
/*=============================responsive=====================*/
@media(max-width:991.98px){
    .navbar{
        display:none;
    }
    .header-top{
        display:flex;
        justify-content:center;  /* căn giữa logo */
        align-items:center;
        position:relative;
    }
    .logo_images{
        position:static;
    }
    .header-top .logo_images{
        margin-left:-80px;
    }
    .menu-header_icon{
        position: absolute;
        top: 38px;
        right: 26px;
        color: #fff;
        width: 24px;
    }
    .menu-overplay{
        position:fixed;
        background:rgba(0,0,0,0.3);
        inset:0;
        z-index:1;
        opacity:0;
        visibility:hidden;;
        transition:0.5s
    }
    .menu-checkbox:checked ~ .menu-overplay{
        opacity:1;
        visibility:visible;
    }
    .menu-drawer{
        position: fixed;
        background: #1c0f13;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80%;              /* 100% - 20% */
        z-index: 2;
        transform: translateX(100%);  /* Ẩn sang phải */
        transition: 0.5s;
        padding: 60px;
    }
    .menu-checkbox:checked ~ .menu-drawer{
        transform:translateX(0);
    }
    .close_menu{
        width:24px;
        color:#fff;
    }
    .menu-drawer_top{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .navbar_list{
        margin-top:25px;
        flex-direction:column;
    }
    #navbar_list--mobile{
        margin-top:25px;
    }
    .navbar_link{
        display:block;
        font-size:2rem;
    }
    .navbar_link:hover{
        background-color:#ff27;
    }
     /* =================== Hero =================== */
    .hero {
        min-height: 80vh;
        padding-top: 120px;
        background-attachment: scroll;  /* Fix vấn đề background trên di động */
    }

    .hero_heading {
        font-size: 5rem;
        margin-top: 80px;
    }

    .hero_content {
        font-size: 3rem;
        padding: 0 20px;
    }

    .hero_desc {
        font-size: 2rem;
        margin-top: 10px;
    }

    /* =================== Location =================== */
    .location {
        margin: 20px;
    }

    .location .container {
        flex-direction: column;
        align-items: center;
    }

    .location_content {
        margin-top: 0;
        padding: 0 20px;
    }
    .location_content .section_desc{
        text-align:left
    }
    .location_img {
        width: 100%;
        height: auto;
        object-fit: contain;
        padding: 10px;
    }

    /* =================== Featured =================== */
    .featured {
        padding: 60px 20px;
    }

    .featured_list {
        grid-template-columns: 1fr; /* Chuyển sang cột đơn */
        gap: 30px;
    }

    .featured-item {
        flex-direction: column;
        padding: 20px;
        justify-content: flex-start;
    }

    .featured-item_img {
        width: 100%;
        height: auto;
    }

    .featured-item_heading {
        font-size: 1.8rem;
    }

    .featured-item_desc {
        font-size: 1.4rem;
    }
    .featured-item_img--left{
        order:unset;
    }
    /* =================== Place =================== */
    .place {
        margin-top: 40px;
    }

    .place .container .section_heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .place .container .section_desc {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .place_list {
        grid-template-columns: 1fr; /* Chuyển sang cột đơn */
        gap:20px;
    }
    .place-item:has(input:not(:checked)){
        grid-column:span 3;
    }
    .place-item input {
        display: none;
    }

    .card-layout {
        padding: 10px;
        background: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        flex-direction:column;
    }
    
    .place-item_img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 10px;
        transition: 0.2s ease;
    }

    .place-item_text-area {
        text-align: center;
    }

    .place-item_title {
        font-size: 1.8rem;
        color: #10375c;
    }

    .place-item_content {
        max-height: 0;
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .place-item input:checked + .card-layout .place-item_img {
        width: 100%;
        height: 200px;
    }

    .place-item input:checked + .card-layout .place-item_text-area {
        text-align: left;
        width:100%
    }

    .place-item input:checked + .card-layout .place-item_content {
        max-height: 500px;
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 10px;
    }

    .place-item:has(input:checked){
        order:unset;
    }
   
    /* =================== Different =================== */
    .different {
        margin-top: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section_heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .different .section_desc {
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 20px;
    }
    /* ===== QUOTE ===== */
    .quote_content{
        height: auto;
        padding: 20px;
    }

    .quote_heading{
        font-size: 1.6rem;
    }
    /* =================== Footer =================== */
    .footer {
        padding: 10px 0;
    }

    .footer_copyright-text {
        font-size: 1.4rem;
        padding: 20px 10px;
    }
}
@media(min-width:992px){
    .mobile-header{
        display:none;
    }
    .container{
        width:1170px;
        max-width:calc(100% - 48px);
    }
}
@media(max-width:767.98px){
    .menu-drawer_top .logo_images{
        width:40px;
        height:40px;
    }
    .menu-drawer_top .logo_images .text .logo_text{
        font-size:2rem;
    }
    .menu-drawer_top .logo_images .text .logo_text_secondary{
        font-size:1,7rem;
    }
    .navbar_list{
        margin-top:25px;
        flex-direction:column;
    }
    .navbar_link{
        display:block;
        font-size:1.6rem;
    }
    .close_menu{
        width:20px;
    }
    
}