*{
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    padding-top:80px;
    font-size:1.6 rem;
    font-family:"Sora",sans-serif;
    background: linear-gradient(135deg, #fffaf0 0%, #ffe6e6 50%, #e6f3ff 100%);
    background-attachment: fixed;
}
/*==============================common==================================*/
.container{
    width:100%;
    max-width: calc(100% - 48px);
    margin:0 auto;
}
a{
    text-decoration: none;
}
.section_heading{
    color:#dc143c;
    font-size:5rem;
    font-weight:600;
    line-height:1.2;
    letter-spacing:-1px;
    border-bottom:5px solid #ff0;
    font-family:serif;
}
.section_desc{
    margin-top:18px;
    color:#10375c;
    font-size:1.8rem;
    font-weight:300;
    line-height:1.67;
}
/*=============================header==================================*/
.header{
    background:#dc143c;
    min-height:120px;
    padding-top:20px;
    position: fixed;
     top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.header-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar_list{
    display:flex;
}
.navbar_link{
    padding:8px 21px;
    color:#c9d2da;
    font-size:1.6rem;
    font-style:normal;
    font-weight:300;
    line-height:1.75;
}
.navbar_link:hover,
.navbar_link--active{
    text-shadow: 1px  0 0 currentColor;
    color:#fff;
}
.navbar_link--active::before{
    content:"";
    display:inline-block;
    width:6px;
    height:6px;
    border-radius:50%;
    background: #fff;
    top:-3px;
    position:relative;
    right: 8px;
}
.logo{
    width:90px;
    height:90px;
}
.logo_images{
    display: flex;
    align-items:center;
}
.text{
    display:flex;
    flex-direction:column;
    color:#fff;
}
.logo_text{
    font-size:5rem;
    font-weight:bold;
}
.logo_text_secondary{
    font-size:2.5rem;
}
/*==============hero===============*/
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    flex-direction:column;
    padding-top:76px;
    background-image:url("../../img/saiGon.png");
    min-height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50% 50%;
    background-attachment:fixed;
    position:relative;
}
.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.6);
    z-index:0
}
.hero .container{
    z-index:1
}
.hero_heading{
    margin-top:150px;
    color:#fff;
    font-size:7rem;
    font_style:normal;
    font-weight:700;
    line-height:1.14;
    letter-spacing:1.4px;
}
.hero_content{
    margin: 5px 0 5px 0;
    padding: 0 10px 0 10px;
    color:#fff;
    font-size:4rem;
    font-weight:700;
    line-height:1.14;
    letter-spacing:2px;
}
.hero_desc{
    color:#fff;
    font-size:2.5rem;
    font_style:normal;
    font-weight:500;
    line-height:1.14;
    letter-spacing:2px;
    margin-top:20px;
}
.hero_heading, .hero_content, .hero_desc {
    position: relative;  /* Đảm bảo các phần tử này có z-index của chúng */
    z-index: 2;  /* Đảm bảo các phần tử này xuất hiện phía trên nền */
}
/*================introduce=====================*/
.introduce{
    position:relative;
    z-index:4;
    margin-top:86px;
    padding:20px;
}
/*================beforeTet===================*/
.beforeTet{
    margin-top:76px;
    padding-top:86px;
    background:#fff;
    padding-bottom:68px;
}
.beforeTet_list{
    display: flex;
    gap:30px;
    flex-direction:column;
    margin-top:48px;
}
.beforeTet-item{
    display:flex;
    align-items:center;
}
.beforeTet-item_img{
    flex: 0 0 35%;
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}
.beforeTet-item_content{
    border: 5px solid #dc143c;
    border-radius:20px;
    padding:15px;
}
.beforeTet-item_heading{
    color:#10375c;
    font-size:2.3rem;
    font-weight:700;
    line-height:1.38;
}
.beforeTet-item_desc{
    margin-top:10px;
    font-size:1.8rem;
    font-weight:400;
    line-height:1.18;
    letter-spacing:1.2;
}
.beforeTet-item.beforeTet-item--left .beforeTet-item_content{
    margin-right:20px;
    order:1;
}
.beforeTet-item.beforeTet-item--left .beforeTet-item_img{
    order:2;
}
.beforeTet-item.beforeTet-item--right .beforeTet-item_content{
    margin-left:20px;
    order:1;
    border: 5px solid #ff0;
}
.beforeTet-item_content:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    
}
/*=================duringTet=================*/
.duringTet{
    margin-top:76px;
    padding-bottom:86px;
    
}
.duringTet .container .section_heading{
    text-align:center;
}
.duringTet_list{
    margin-top:48px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
.duringTet-item input{
    display:none;
}
.card-layout{
    display: block;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card-layout:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.duringTet-item_img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
    transition:0.2s ease;
}
.duringTet-item_content{
    text-align:center;
}
.duringTet-item_heading{
    color:#10375c;
    font-size:2.2rem;
    font-weight:600;
    line-height:1.38;
}
.duringTet-item_desc{
    max-height:0;
    overflow:hidden;
    transition: max-height 0.4s ease;
}
.duringTet-item:has(input:checked){
    grid-column:span 4;
    order:unset;
}
.duringTet-item input:checked + .card-layout{
    display:flex;             
    align-items:flex-start;
    gap:20px;
}
.duringTet-item input:checked + .card-layout .duringTet-item_img{
    width:40%;
    height:250px;
    flex-shrink:0;  
}
.duringTet-item input:checked + .card-layout .duringTet-item_content{
    width:60%;
    text-align:left;
    padding-top:50px;
}
.duringTet-item input:checked + .card-layout .duringTet-item_desc{
    max-height:500px;
    font-size:1.4rem;
    font-weight:400;
    line-height:1.28;
    letter-space:1.12px;
    margin-top:10px;
}
/*======================afterTet====================*/
.afterTet{
    padding-top:76px;
    background:#fff;
}
.afterTet_list{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    gap:30px;
    margin-top:48px;
}
.afterTet-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.afterTet-item_img{
    flex: 0 0 40%;
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}
.afterTet-item_heading{
    color:#10375c;
    font-size:2.3rem;
    font-weight:600;
    line-height:1.2;
}
.afterTet-item_desc{
    margin-top:10px;
    font-size:1.6rem;
    font-weight:400;
}
.afterTet-item.afterTet-item--right .afterTet-item_img{
    order:2;

}
.afterTet-item.afterTet-item--left .afterTet-item_content{
    margin-left:20px;
    padding:10px;
}
.afterTet-item.afterTet-item--right .afterTet-item_content{
    margin-right:20px;
    padding:10px;
}
/*==================quote================*/
.quote{
    margin-top:78px;
}
.quote_content{
    background:#fff;
    height:100px;
    border:1px solid #000;
    border-radius:20px;
    text-align:center;
}
.quote_title{
    margin:20px 10px 0 10px;
    font-size:2rem;
    font-weight:700;
    line-height:1.48;

}
/*===========================footer=========================*/
.footer{
    background:#dc143c;
    margin-top: 50px;
    text-align: center;
}
.footer_copyright-text {
  padding: 28px 0 20px;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.86;
}
/*=============================responsive=====================*/
@media(max-width:991.98px){
    .navbar{
        display:none;
    }
    .header-top{
        display:flex;
        justify-content:center;  /* căn giữa logo */
        align-items:center;
        position:relative;
    }
    .logo_images{
        position:static;
    }
    .header-top .logo_images{
        margin-left:-80px;
    }
    .menu-header_icon{
        position: absolute;
        top: 38px;
        right: 26px;
        color: #fff;
        width: 24px;
    }
    .menu-overplay{
        position:fixed;
        background:rgba(0,0,0,0.3);
        inset:0;
        z-index:1;
        opacity:0;
        visibility:hidden;;
        transition:0.5s
    }
    .menu-checkbox:checked ~ .menu-overplay{
        opacity:1;
        visibility:visible;
    }
    .menu-drawer{
        position: fixed;
        background: #1c0f13;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80%;              /* 100% - 20% */
        z-index: 2;
        transform: translateX(100%);  /* Ẩn sang phải */
        transition: 0.5s;
        padding: 60px;
    }
    .menu-checkbox:checked ~ .menu-drawer{
        transform:translateX(0);
    }
    .close_menu{
        width:24px;
        color:#fff;
    }
    .menu-drawer_top{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .navbar_list{
        margin-top:25px;
        flex-direction:column;
    }
    #navbar_list--mobile{
        margin-top:25px;
    }
    .navbar_link{
        display:block;
        font-size:2rem;
    }
    .navbar_link:hover{
        background-color:#ff27;
    }
    /* =================== Hero =================== */
    .hero {
        min-height: 80vh;
        padding-top: 120px;
        background-attachment: scroll;  /* Fix vấn đề background trên di động */
    }

    .hero_heading {
        font-size: 5rem;
        margin-top: 80px;
    }

    .hero_content {
        font-size: 3rem;
        padding: 0 20px;
    }

    .hero_desc {
        font-size: 2rem;
        margin-top: 10px;
    }

    /* =================== Introduce =================== */
    .introduce {
        margin-top: 60px;
        padding: 20px;
    }

    .section_heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .section_desc {
        font-size: 1.6rem;
        text-align: justify;
    }

    /* =================== BeforeTet =================== */
    .beforeTet {
        margin-top: 50px;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .beforeTet_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 48px;
    }

    .beforeTet-item {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .beforeTet-item_img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .beforeTet-item_content {
        border: 5px solid #dc143c;
        border-radius: 20px;
        padding: 15px;
        margin-top: 10px;
    }

    .beforeTet-item_heading {
        color: #10375c;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.38;
    }

    .beforeTet-item_desc {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 1.2;
    }
    .beforeTet-item.beforeTet-item--left .beforeTet-item_img{
        order:1;
    }
    /* =================== DuringTet =================== */
    .duringTet {
        margin-top: 50px;
        padding-bottom: 60px;
    }

    .duringTet_list {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 1fr; /* Mỗi phần tử chiếm 1 dòng */
        gap: 20px;
    }

    .duringTet-item {
        grid-column:span 4;
    }
    .card-layout{
        display:flex;
        flex-direction:column;
    }
    .duringTet-item_img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .duringTet-item_content {
        padding: 20px;
        text-align: left;
        font-size: 1.6rem;
    }

    .duringTet-item_heading {
        color: #10375c;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .duringTet-item_desc {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: 10px;
    }
    .duringTet-item input:checked + .card-layout .duringTet-item_img{
        width:100%
    }
    .duringTet-item input:checked + .card-layout .duringTet-item_content{
        text-align: left;
        width:100%
    }
    .duringTet-item input:checked + .card-layout  .duringTet-item_desc{
        max-height:500px;
        font-size:1.4rem;
        font-weight:400;
        line-height:1.28;
        letter-space:1.12px;
        margin-top:10px;
    }
    /* =================== AfterTet =================== */
    .afterTet {
        padding-top: 60px;
        background: #fff;
    }

    .afterTet_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 48px;
    }

    .afterTet-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .afterTet-item_img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
    }

    .afterTet-item_content {
        padding: 10px;
        text-align: left;
    }

    .afterTet-item_heading {
        font-size: 1.8rem;
        color: #10375c;
        font-weight: 600;
        line-height: 1.2;
    }

    .afterTet-item_desc {
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height:1.2;
    }
    .afterTet-item.afterTet-item--left .afterTet-item_img{
        order:2;
    } 
    .afterTet-item.afterTet-item--left .afterTet-item_content{
        margin:0 auto;
        padding:10px;
    }
    .afterTet-item.afterTet-item--right .afterTet-item_content{
        margin:0 auto;
        padding:10px;
    }
    /* =================== Quote =================== */
    .quote_content{
        height: auto;
        padding: 20px;
    }

    .quote_heading{
        font-size: 1.6rem;
    }

    /* =================== Footer =================== */
    .footer {
        padding: 10px 0;
    }

    .footer_copyright-text {
        font-size: 1.4rem;
        padding: 20px 10px;
    }
}
@media(min-width:992px){
    .mobile-header{
        display:none;
    }
    .container{
        width:1170px;
        max-width:calc(100% - 48px);
    }
}
@media(max-width:767.98px){
    .menu-drawer_top .logo_images{
        width:40px;
        height:40px;
    }
    .menu-drawer_top .logo_images .text .logo_text{
        font-size:2rem;
    }
    .menu-drawer_top .logo_images .text .logo_text_secondary{
        font-size:1,7rem;
    }
    .navbar_list{
        margin-top:25px;
        flex-direction:column;
    }
    .navbar_link{
        display:block;
        font-size:1.6rem;
    }
    .close_menu{
        width:20px;
    }
    
}